<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Blank
    page</title>
    <meta property="og:url" content="my-cab"/>
    <meta property="og:title" content="Blank page"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild3938-3563-4565-a138-336162376533__-__resize__504x__hello.jpg"/>
    <link rel="canonical" href="my-cab"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page34830371.min.css?t=1678810724" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-cards-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page34830371.min.js?t=1678810724" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-cards-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="34830371" data-tilda-page-alias="my-cab"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header.html' %}
    <div id="rec562731144" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-record-type="92"><!-- T081 -->
        <div class="t081">
            <div class="t-container t-align_center">
                <div class="t081__col t-width t-width_6">
                    <div class="t081__title t-name t-name_xl" style="" field="title">{{ name }}</div>
                    <div class="t081__descr t-descr t-descr_xs" style="" field="descr">{{ email }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562742840" class="r t-rec t-rec_pt_0 t-rec_pb_30"
         style="padding-top:0px;padding-bottom:30px;background-color:#ffffff; " data-animationappear="off"
         data-record-type="844" data-bg-color="#ffffff"><!-- t844 -->
        <div class="t844">
            <div class="t-section__container t-container">
                <div class="t-col t-col_12">
                    <div class="t-section__topwrapper t-align_center">
                        <div class="t-section__title t-title t-title_xs" field="btitle">Achievements</div>
                    </div>
                </div>
            </div>
            <ul class="t844__container t-container">
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3335-3366-4765-b533-313364633533__-__empty__photo.png"
                        data-original="images/tild3335-3366-4765-b533-313364633533__photo.png"
                        imgfield="li_img__1531137250635"
                        style="width:80px;{{ styles[0] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137250635"
                             style="">
                            {{ achievements_names[0] | safe}}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137250635" style="">
                            {{ achievements_texts[0] | safe}}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild6634-3537-4465-b937-626466643638__-__empty__20.png"
                        data-original="images/tild6634-3537-4465-b937-626466643638__20.png"
                        imgfield="li_img__1531137263951"
                        style="width:80px;{{ styles[1] }}"" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137263951" style="">
                            {{ achievements_names[1] | safe}}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137263951" style="">
                            {{ achievements_texts[1] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3230-3438-4330-b439-643833646661__-__empty__1.png"
                        data-original="images/tild3230-3438-4330-b439-643833646661__1.png"
                        imgfield="li_img__1531137278040"
                        style="width:80px;{{ styles[2] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137278040" style="">
                            {{ achievements_names[2] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137278040" style="">
                            {{ achievements_texts[2] | safe }}
                        </div>
                    </div>
                </li>
                <div class="t-clear t844__separator" style=""></div>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild6333-6131-4535-a432-326264336538__-__empty__20.png"
                        data-original="images/tild6333-6131-4535-a432-326264336538__20.png"
                        imgfield="li_img__1531137295061"
                        style="width:80px;{{ styles[3] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137295061" style="">
                            {{ achievements_names[3] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137295061" style="">
                            {{ achievements_texts[3] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3533-6137-4634-a461-373139306663__-__empty__photo.png"
                        data-original="images/tild3533-6137-4634-a461-373139306663__photo.png"
                        imgfield="li_img__1531137309241"
                        style="width:80px;{{ styles[4] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137309241" style="">
                            {{ achievements_names[4] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137309241" style="">
                            {{ achievements_texts[4] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3137-3933-4038-a538-666633623334__-__empty__20.png"
                        data-original="images/tild3137-3933-4038-a538-666633623334__20.png"
                        imgfield="li_img__1531137326480"
                        style="width:80px;{{ styles[5] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137326480" style="">
                            {{ achievements_names[5] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137326480" style="">
                            {{ achievements_texts[5] | safe }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t844_init', function () {
                t844_init('562742840');
            });
        });</script>
    </div>
    <div id="rec562754821" class="r t-rec t-rec_pt_0 t-rec_pb_0"
         style="padding-top:0px;padding-bottom:0px;background-color:#ffffff; " data-animationappear="off"
         data-record-type="844" data-bg-color="#ffffff"><!-- t844 -->
        <div class="t844">
            <ul class="t844__container t-container">
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3731-3763-4663-a364-383534383633__-__empty__photo.png"
                        data-original="images/tild3731-3763-4663-a364-383534383633__photo.png"
                        imgfield="li_img__1531137250635"
                        style="width:80px;{{ styles[6] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137250635" style="">
                            {{ achievements_names[6] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137250635" style="">
                            {{ achievements_texts[6] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3031-6361-4038-b134-623935356532__-__empty__photo.png"
                        data-original="images/tild3031-6361-4038-b134-623935356532__photo.png"
                        imgfield="li_img__1531137263951"
                        style="width:80px;{{ styles[7] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137263951" style="">
                            {{ achievements_names[7] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137263951" style="">
                            {{ achievements_texts[7] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild6434-6162-4264-b734-643233303165__-__empty__photo.png"
                        data-original="images/tild6434-6162-4264-b734-643233303165__photo.png"
                        imgfield="li_img__1531137278040"
                        style="width:80px;{{ styles[8] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137278040" style="">
                            {{ achievements_names[8] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137278040" style="">
                            {{ achievements_texts[8] | safe }}
                        </div>
                    </div>
                </li>
                <div class="t-clear t844__separator" style=""></div>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild3234-3130-4634-b531-313630623164__-__empty__20.png"
                        data-original="images/tild3234-3130-4634-b531-313630623164__20.png"
                        imgfield="li_img__1531137295061"
                        style="width:80px;{{ styles[9] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137295061" style="">
                            {{ achievements_names[9] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137295061" style="">
                            {{ achievements_texts[9] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild6366-3130-4563-a535-306532326235__-__empty__1.png"
                        data-original="images/tild6366-3130-4563-a535-306532326235__1.png"
                        imgfield="li_img__1531137309241"
                        style="width:80px;{{ styles[10] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137309241" style="">
                            {{ achievements_names[10] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137309241" style="">
                            {{ achievements_texts[10] | safe }}
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/tild6132-3061-4430-a337-386234363563__-__empty__20.png"
                        data-original="images/tild6132-3061-4430-a337-386234363563__20.png"
                        imgfield="li_img__1531137326480"
                        style="width:80px;{{ styles[11] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137326480" style="">
                            {{ achievements_names[11] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137326480" style="">
                            {{ achievements_texts[11] | safe }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t844_init', function () {
                t844_init('562754821');
            });
        });</script>
    </div>
    <br><br>
    <div id="rec56275482100" class="r t-rec t-rec_pt_0 t-rec_pb_0"
         style="padding-top:0px;padding-bottom:0px;background-color:#ffffff; " data-animationappear="off"
         data-record-type="844" data-bg-color="#ffffff"><!-- t844 -->
        <div class="t844">
            <ul class="t844__container t-container">
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/cat_empty.jpg"
                        data-original="images/cat_empty.jpg"
                        imgfield="li_img__1531137326480"
                        style="width:80px;" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137326480" style="">
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137326480" style="">
                        </div>
                    </div>
                </li>
                <li class="t-card__col t-card__col_focus t844__col t-col t-col_4 t-align_center t-item"><img
                        class="t844__img t-img"
                        src="../static/images/cat_empty.jpg"
                        data-original="images/cat.jpg"
                        imgfield="li_img__1531137326480"
                        style="width:200px;{{ styles[12] }}" alt="">
                    <div class="t844__wrappercenter">
                        <div class="t-card__title t-heading t-heading_md" field="li_title__1531137326480" style="">
                            {{ achievements_names[12] | safe }}
                        </div>
                        <div class="t-card__descr t-descr t-descr_sm" field="li_descr__1531137326480" style="">
                            {{ achievements_texts[12] | safe }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t844_init', function () {
                t844_init('56275482100');
            });
        });</script>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#34830371"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="../static/images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>
