<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Hygiene</title>
    <meta property="og:url" content="hygiene"/>
    <meta property="og:title" content="Hygiene"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild3435-3963-4031-a533-306537646238__-__resize__504x__noroot.png"/>
    <link rel="canonical" href="hygiene"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page34387790.min.css?t=1681073510" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="print" onload="this.media='all';"
          onerror="this.loaderr='y';"/>
    <noscript>
        <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page34387790.min.js?t=1681073510" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-slds-1.4.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="34387790" data-tilda-page-alias="hygiene"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header.html' %}
    <div id="rec555540938" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="33"><!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">HYGIENE</div>
                    <div class="t017__title t-title t-title_xxs" field="title" style="">
                        <div style="font-size: 62px;" data-customstyle="yes"><p style="text-align: center;">Hygiene in
                            human life</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec555541796" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3435-3963-4031-a533-306537646238__noroot.png">
                <img class="t107__width t-width t-width_12 t-img"
                     src="images/tild3435-3963-4031-a533-306537646238__-__empty__noroot.png"
                     data-original="images/tild3435-3963-4031-a533-306537646238__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec558866106" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size:32px;" data-customstyle="yes"><strong>Briefly about the main</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec558864523" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 32px; line-height: 44px;" data-customstyle="yes"><p
                                style="text-align: center;">Since childhood, we have been constantly told how important
                            it is to wash our hands, wash our face, brush our teeth properly, and so on. This is true,
                            because hygiene is the key to a healthy body.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562815784" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-record-type="147"><!-- t214-->
        <div class="t214">
            <div class="t-container">
                <div class="t-row">
                    <div class="t214__col t-col t-col_4" style="margin-bottom:20px;" itemscope
                         itemtype="http://schema.org/ImageObject">
                        <div class="t214__blockimg t-bgimg"
                             data-original="images/tild3530-6265-4361-a562-386136313934__photo.jpg"
                             bgimgfield="gi_img__0" data-zoom-target="0"
                             title=""
                             style="background: url('images/tild3530-6265-4361-a562-386136313934__-__resizeb__20x__photo.jpg') center center no-repeat; background-size:cover;"
                        >
                            <meta itemprop="image" content="images/tild3530-6265-4361-a562-386136313934__photo.jpg">
                        </div>
                        <div class="t214__textwrapper t-align_left">
                            <div class="t214__title t-name t-name_sm" data-redactor-toolbar="no" field="gi_title__0"
                                 itemprop="name"></div>
                            <div class="t214__descr t-text" data-redactor-toolbar="no" field="gi_descr__0"
                                 itemprop="description"></div>
                        </div>
                    </div>
                    <div class="t214__col t-col t-col_4" style="margin-bottom:20px;" itemscope
                         itemtype="http://schema.org/ImageObject">
                        <div class="t214__blockimg t-bgimg"
                             data-original="images/tild6435-3036-4562-b135-343739343238__photo.jpg"
                             bgimgfield="gi_img__1" data-zoom-target="1"
                             title=""
                             style="background: url('images/tild6435-3036-4562-b135-343739343238__-__resizeb__20x__photo.jpg') center center no-repeat; background-size:cover;"
                        >
                            <meta itemprop="image" content="images/tild6435-3036-4562-b135-343739343238__photo.jpg">
                        </div>
                        <div class="t214__textwrapper t-align_left">
                            <div class="t214__title t-name t-name_sm" data-redactor-toolbar="no" field="gi_title__1"
                                 itemprop="name"></div>
                            <div class="t214__descr t-text" data-redactor-toolbar="no" field="gi_descr__1"
                                 itemprop="description"></div>
                        </div>
                    </div>
                    <div class="t214__col t-col t-col_4" style="margin-bottom:20px;" itemscope
                         itemtype="http://schema.org/ImageObject">
                        <div class="t214__blockimg t-bgimg"
                             data-original="images/tild3637-3438-4963-a539-343162633862__photo.jpeg"
                             bgimgfield="gi_img__2" data-zoom-target="2"
                             title=""
                             style="background: url('images/tild3637-3438-4963-a539-343162633862__-__resizeb__20x__photo.jpeg') center center no-repeat; background-size:cover;"
                        >
                            <meta itemprop="image" content="images/tild3637-3438-4963-a539-343162633862__photo.jpeg">
                        </div>
                        <div class="t214__textwrapper t-align_left">
                            <div class="t214__title t-name t-name_sm" data-redactor-toolbar="no" field="gi_title__2"
                                 itemprop="name"></div>
                            <div class="t214__descr t-text" data-redactor-toolbar="no" field="gi_descr__2"
                                 itemprop="description"></div>
                        </div>
                    </div>
                </div>
                <div class="t-row"></div>
            </div>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t214__updateLazyLoad', function () {
                setTimeout(function () {
                    t214__updateLazyLoad('562815784');
                }, 500);
            });
        });</script>
    </div>
    <div id="rec566635727" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px; line-height: 30px;" data-customstyle="yes"><p
                                style="text-align: center;"><strong style="color: rgb(110, 230, 192);">Featured
                            Products</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562815883" class="r t-rec t-rec_pt_15 t-rec_pb_0" style="padding-top:15px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;">Keeping the skin in a healthy state requires constant care for
                            its cleanliness and hardening. Cleanliness of the skin is the main condition for its normal
                            condition. In the surface layer of the skin — the epidermis — there are a large number of
                            sweat glands and hair follicles, in which dust, dirt, and bacteria are trapped. In addition,
                            metabolic products secreted by the skin itself (fat, sweat, horny scales) constantly
                            accumulate there. All this must be systematically washed off.</p><br/>
                            <p style="text-align: left;">It is necessary to wash the skin taking into account its
                                individual characteristics. So, for normal and oily skin, it is advisable to use neutral
                                toilet soap for washing, and for dry skin — cosmetic, glycerin, etc. It is recommended
                                to take a bath and shower at least once a week under normal conditions, and daily in
                                environmentally unfavorable conditions.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562817990" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size:24px;line-height:38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong
                                style="font-size: 26px; color: rgb(247, 5, 5);">! </strong><span
                                style="font-size: 22px;">The skin of the face and neck should be washed in the morning, evening and as needed (sweating, pollution)</span>
                        </p>
                            <p style="text-align: left;"><strong
                                    style="font-size: 28px; color: rgb(247, 5, 5);">!</strong><strong
                                    style="color: rgb(247, 5, 5);"> </strong><span style="font-size: 22px;">The skin of the hands should be washed with soap and water at room temperature before each meal, after using the toilet, playing sports and being outside</span>
                            </p>
                            <p style="text-align: left;"><strong
                                    style="font-size: 28px; color: rgb(247, 5, 5);">!</strong> <span
                                    style="font-size: 22px;">It is advisable to wash the skin of the legs every evening after a working day</span>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec566636639" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px; line-height: 30px;" data-customstyle="yes"><p
                                style="text-align: center;"><strong style="color: rgb(110, 230, 192);">Dental
                            hygiene</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562818755" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;">Oral care is primarily about keeping your teeth healthy. When
                            it is insufficient, dental diseases can develop. One of them is caries. The main reason for
                            its occurrence is considered to be the destructive effect of plaque microorganisms on the
                            hard tissues of the teeth.</p><br/>
                            <p style="text-align: left;">You can prevent cavities by brushing your teeth regularly. It
                                is necessary to clean them after breakfast and especially carefully (at least 3 minutes)
                                after dinner. This should be done with a brush with artificial bristles.</p><br/>
                            <p style="text-align: left;">In the intervals between meals and before going to bed (after
                                brushing your teeth), you should avoid the consumption of sweets and starchy foods. It
                                is necessary to strive to ensure that the teeth are always cleaned of food debris (brush
                                after breakfast and dinner, rinse after any meal). To prevent diseases, it is
                                recommended to visit a dentist at least twice a year.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec566636903" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px; line-height: 30px;" data-customstyle="yes"><p
                                style="text-align: center;"><strong style="color: rgb(110, 230, 192);">Hair
                            hygiene</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562819368" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes">General recommendations
                            on what is beneficial to wash hair imply the use of nourishing shampoos (for example, based
                            on oils), conditioners, masks, leave-in creams, or sprays. Homemade oil-based wraps can be
                            done just before washing.<br/><br/>Special attention should be paid to split ends. It is
                            important to protect the locks from harmful external influences. You should not stay under
                            the scorching sun without a head covering, just as you should not neglect a warm winter hat
                            in cold weather. For coloring, compositions without ammonia should be chosen.<br/><br/>In
                            order to achieve healthy, thick, shiny locks without brittleness and split ends, it is
                            necessary to adhere to general recommendations that will help prevent many problems:<br/>
                            <ul>
                                <li>Use suitable shampoos and conditioners</li>
                                <li>Give priority to combs with natural teeth</li>
                                <li>Do not neglect regular application of masks along the entire length of the hair</li>
                                <li>Try to use thermal electrical appliances less often</li>
                                <li>Timely treatment of skin diseases, including getting rid of dandruff</li>
                                <li>Periodically trim the ends</li>
                                <li>Do not comb immediately after washing, you need to let the hair dry naturally for a
                                    bit
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569907464" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><strong
                                style="font-size: 24px;"><u>Normal hair type</u>:</strong><br/>In this case, the head
                            usually only becomes dirty after 2-3 days. Combing is not particularly difficult, and split
                            ends are also rarely a concern. Care is uncomplicated, and styling and shaping the locks
                            into a hairstyle is also easy. Usually, this picture is characteristic of young girls who do
                            not have harmful habits and lead a generally healthy lifestyle.<br/>Hygiene involves
                            regularly using shampoo, conditioner, mask, and periodically taking vitamin and mineral
                            complexes. If these simple rules are neglected, the condition of the hair will deteriorate
                            significantly very soon, and more serious methods of restoration will have to be used.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569908838" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height: 38px;" data-customstyle="yes"><strong style="font-size: 24px;"><u>Dry
                            hair type</u>:</strong><br/><span style="font-size: 22px;">Taking care of such hair is slightly more difficult than in the previous case. Care procedures should be gentle and careful to prevent:</span><br/>
                            <ul>
                                <li><span style="font-size: 22px;">Dullness, lack of shine</span></li>
                                <li><span style="font-size: 22px;">Brittleness, fragility</span></li>
                                <li><span style="font-size: 22px;">Difficulty combing</span></li>
                                <li><span style="font-size: 22px;">Tangling</span></li>
                                <li><span style="font-size: 22px;">Split ends</span></li>
                                <li><span style="font-size: 22px;">Periodic appearance of dandruff</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569910557" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height:38px;font-size:22px;" data-customstyle="yes"><strong
                                style="font-size: 24px;"><u>Oily hair type:</u></strong><br/>Its owners sometimes
                            experience strong discomfort, as the overactive sebaceous glands quickly spoil the
                            appearance of the locks. They seem unwashed, shiny, dense to the touch, elastic and
                            difficult to style. In this case, not only the sequential stages of proper care for the
                            scalp and hair play a key role, but also the quality of the diet (salt, spicy, animal fats
                            should be minimized).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569911199" class="r t-rec t-rec_pt_30 t-rec_pb_75" style="padding-top:30px;padding-bottom:75px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height: 38px;" data-customstyle="yes"><strong style="font-size: 24px;"><u>Mixed
                            (combination) hair type</u>:</strong><br/><span style="font-size: 22px;">The process is quite complicated because the hair at the roots remains oily while the ends are brittle and dry. Hygiene should be comprehensive and address several issues at once: reduce the intensity of sebum production and minimize the harmful effects on the ends. For example, shampoos are mainly applied to the root area, while masks and conditioners are applied to the rest of the length.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#34387790"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>