<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Гигиена</title>
    <meta property="og:url" content="page35254210.html"/>
    <meta property="og:title" content="Гигиена"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild3435-3963-4031-a533-306537646238__-__resize__504x__noroot.png"/>
    <link rel="canonical" href="hygiene_ru.html"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page35254210.min.css?t=1681073512" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="print" onload="this.media='all';"
          onerror="this.loaderr='y';"/>
    <noscript>
        <link rel="stylesheet" href="css/tilda-slds-1.4.min.css" type="text/css" media="all"/>
    </noscript>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page35254210.min.js?t=1681073512" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-slds-1.4.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="35254210"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header_ru.html' %}
    <div id="rec569599167" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="33"><!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">ЗДОРОВЬЕ</div>
                    <div class="t017__title t-title t-title_xxs" field="title" style="">
                        <div style="font-size: 62px;" data-customstyle="yes"><p style="text-align: center;">Гигиена&nbsp;
                            в жизни человека</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599168" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3435-3963-4031-a533-306537646238__noroot.png">
                <img class="t107__width t-width t-width_12 t-img"
                     src="images/tild3435-3963-4031-a533-306537646238__-__empty__noroot.png"
                     data-original="images/tild3435-3963-4031-a533-306537646238__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec569599169" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 32px;" data-customstyle="yes"><strong>Коротко о главном</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599170" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 32px; line-height: 44px;" data-customstyle="yes"><p
                                style="text-align: center;">С детства нам постоянно говорят, насколько важно мыть руки,
                            лицо, правильно чистить зубы и так далее. Это правда, потому что гигиена - это ключ к
                            здоровому телу.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599171" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-record-type="147"><!-- t214-->
        <div class="t214">
            <div class="t-container">
                <div class="t-row">
                    <div class="t214__col t-col t-col_4" style="margin-bottom:20px;" itemscope
                         itemtype="http://schema.org/ImageObject">
                        <div class="t214__blockimg t-bgimg"
                             data-original="images/tild3530-6265-4361-a562-386136313934__photo.jpg"
                             bgimgfield="gi_img__0" data-zoom-target="0"
                             title=""
                             style="background: url('images/tild3530-6265-4361-a562-386136313934__-__resizeb__20x__photo.jpg') center center no-repeat; background-size:cover;"
                        >
                            <meta itemprop="image" content="images/tild3530-6265-4361-a562-386136313934__photo.jpg">
                        </div>
                        <div class="t214__textwrapper t-align_left">
                            <div class="t214__title t-name t-name_sm" data-redactor-toolbar="no" field="gi_title__0"
                                 itemprop="name"></div>
                            <div class="t214__descr t-text" data-redactor-toolbar="no" field="gi_descr__0"
                                 itemprop="description"></div>
                        </div>
                    </div>
                    <div class="t214__col t-col t-col_4" style="margin-bottom:20px;" itemscope
                         itemtype="http://schema.org/ImageObject">
                        <div class="t214__blockimg t-bgimg"
                             data-original="images/tild6435-3036-4562-b135-343739343238__photo.jpg"
                             bgimgfield="gi_img__1" data-zoom-target="1"
                             title=""
                             style="background: url('images/tild6435-3036-4562-b135-343739343238__-__resizeb__20x__photo.jpg') center center no-repeat; background-size:cover;"
                        >
                            <meta itemprop="image" content="images/tild6435-3036-4562-b135-343739343238__photo.jpg">
                        </div>
                        <div class="t214__textwrapper t-align_left">
                            <div class="t214__title t-name t-name_sm" data-redactor-toolbar="no" field="gi_title__1"
                                 itemprop="name"></div>
                            <div class="t214__descr t-text" data-redactor-toolbar="no" field="gi_descr__1"
                                 itemprop="description"></div>
                        </div>
                    </div>
                    <div class="t214__col t-col t-col_4" style="margin-bottom:20px;" itemscope
                         itemtype="http://schema.org/ImageObject">
                        <div class="t214__blockimg t-bgimg"
                             data-original="images/tild3637-3438-4963-a539-343162633862__photo.jpeg"
                             bgimgfield="gi_img__2" data-zoom-target="2"
                             title=""
                             style="background: url('images/tild3637-3438-4963-a539-343162633862__-__resizeb__20x__photo.jpeg') center center no-repeat; background-size:cover;"
                        >
                            <meta itemprop="image" content="images/tild3637-3438-4963-a539-343162633862__photo.jpeg">
                        </div>
                        <div class="t214__textwrapper t-align_left">
                            <div class="t214__title t-name t-name_sm" data-redactor-toolbar="no" field="gi_title__2"
                                 itemprop="name"></div>
                            <div class="t214__descr t-text" data-redactor-toolbar="no" field="gi_descr__2"
                                 itemprop="description"></div>
                        </div>
                    </div>
                </div>
                <div class="t-row"></div>
            </div>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t214__updateLazyLoad', function () {
                setTimeout(function () {
                    t214__updateLazyLoad('569599171');
                }, 500);
            });
        });</script>
    </div>
    <div id="rec569599172" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px; line-height: 30px;" data-customstyle="yes"><p
                                style="text-align: center;"><strong style="color: rgb(110, 230, 192);">Полезные
                            привычки</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599173" class="r t-rec t-rec_pt_15 t-rec_pb_0" style="padding-top:15px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes">Для поддержания здоровья
                            кожи необходима ее постоянная очистка и закаливание. Чистота кожи является главным условием
                            ее нормального состояния. В поверхностном слое кожи, эпидермисе, находится большое
                            количество потовых желез и волосяных фолликул, в которых задерживается пыль, грязь и
                            бактерии. Кроме того, продукты обмена веществ, выделяемые самой кожей (жир, пот, ороговевшие
                            чешуйки), постоянно накапливаются там. Все это необходимо систематически смывать.<br/>Необходимо
                            мыть кожу, учитывая ее индивидуальные особенности. Так, для нормальной и жирной кожи
                            рекомендуется использовать нейтральное туалетное мыло для мытья, а для сухой кожи —
                            косметическое, глицериновое и т.д. Рекомендуется принимать ванну и душ как минимум один раз
                            в неделю при нормальных условиях, а в экологически неблагоприятных условиях — ежедневно.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599174" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 24px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong
                                style="color: rgb(247, 5, 5); font-size: 26px;">! </strong>Кожу лица и шеи следует мыть
                            утром, вечером и при необходимости (потоотделение, загрязнение)</p>
                            <p style="text-align: left;"><strong
                                    style="color: rgb(247, 5, 5); font-size: 28px;">!</strong><strong
                                    style="color: rgb(247, 5, 5);"> </strong>Кожу рук необходимо мыть с мылом и водой
                                при комнатной температуре перед каждым приемом пищи, после посещения туалета, занятий
                                спортом и нахождения на улице</p>
                            <p style="text-align: left;"><strong
                                    style="color: rgb(247, 5, 5); font-size: 28px;">!</strong> Рекомендуется мыть кожу
                                ног каждый вечер после рабочего дня</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599175" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px; line-height: 30px;" data-customstyle="yes"><p
                                style="text-align: center;"><strong style="color: rgb(110, 230, 192);">Гигиена полости
                            рта</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599176" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes">Уход за полостью рта в
                            первую очередь заключается в поддержании здоровья зубов. Когда он недостаточен, могут
                            развиваться заболевания зубов. Одним из них является кариес. Главной причиной его появления
                            считается деструктивное воздействие микроорганизмов на твердые ткани зубов.<br/><br/>Вы
                            можете предотвратить кариес, регулярно чистя зубы. Необходимо чистить их после завтрака и
                            особенно тщательно (не менее 3 минут) после обеда. Это следует делать щеткой с
                            искусственными щетинами.<br/><br/>В промежутках между приемами пищи и перед сном (после
                            чистки зубов) следует избегать потребления сладостей и крахмальных продуктов. Необходимо
                            стремиться к тому, чтобы зубы всегда были очищены от остатков пищи (чистить зубы после
                            завтрака и обеда, прополаскивать рот после любого приема пищи). Для предотвращения
                            заболеваний рекомендуется посещать стоматолога не менее двух раз в год.<br/><br/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599177" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px; line-height: 30px;" data-customstyle="yes"><p
                                style="text-align: center;"><strong style="color: rgb(110, 230, 192);">Гигиена
                            волос</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569599178" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><span style="font-size: 22px;">Общие рекомендации о том, чем полезно мыть голову, подразумевают использование питательных шампуней (например, на основе масел), бальзамов, масок, несмываемых кремов или спреев. Можно делать домашние обертывания с масляными компонентами непосредственно перед мытьем. </span>
                        </p><br/>
                            <p style="text-align: left;"><span style="font-size: 22px;">Особое внимание стоит уделять секущимся кончикам. Важно беречь локоны от вредного внешнего воздействия. Не стоит находиться под палящим солнцем без головного убора, равно как и в морозную погоду пренебрегать теплой зимней шапкой. Для окрашивания необходимо выбирать составы без аммиака.</span>
                            </p><br/>
                            <p style="text-align: left;"><span style="font-size: 22px;">Для того чтобы добиться здоровых, густых, блестящих локонов без ломкости и сечения, необходимо придерживаться общих рекомендаций, которые</span>
                            </p>
                            <p style="text-align: left;"><span style="font-size: 22px;">помогут предупредить множество проблем:</span>
                            </p>
                            <ul>
                                <li style="text-align: left;">Использовать подходящие шампуни и кондиционеры</li>
                                <li style="text-align: left;">Отдавать приоритет расческам с зубцами, изготовленными из
                                    натуральных материалов
                                </li>
                                <li style="text-align: left;">Не пренебрегать регулярным нанесением масок на всю
                                    длину;
                                </li>
                                <li style="text-align: left;">Стараться реже пользоваться термическими
                                    электроприборами;
                                </li>
                                <li style="text-align: left;">Своевременно проходить лечение кожных заболеваний, в том
                                    числе избавляться от перхоти
                                </li>
                                <li style="text-align: left;">Периодически подстригать кончики</li>
                                <li style="text-align: left;">Расчесываться не сразу после мытья, нужно дать волоскам
                                    немного подсохнуть естественным способом
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569895148" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong style="font-size: 24px;"><u>Нормальный тип волос</u>:</strong>
                        </p>
                            <p style="text-align: left;">Как правило, в таком случае голова становится грязной только
                                через 2-3 дня. Расчесывание не приносит особых трудностей, сечение кончиков тоже
                                беспокоит крайне редко. Уход несложен, укладывать и оформлять локоны в прическу также
                                просто. Обычно такая картина характерна для молодых девушек, не имеющих вредных привычек
                                и ведущих в целом здоровый образ жизни.</p>
                            <p style="text-align: left;">Гигиена подразумевает регулярное применение шампуня, бальзама,
                                маски и периодический прием витаминно-минеральных комплексов. Если пренебрегать этими
                                простыми правилами, состояние волосяного покрова очень скоро значительно ухудшится, и
                                придется прибегать к более серьезным методам восстановления.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569893556" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height: 38px;" data-customstyle="yes"><strong style="font-size: 24px;"><u>Сухой
                            тип волос</u>:</strong><br/><span style="font-size: 22px;">Ухаживать за такими волосами несколько сложнее, чем в предыдущем случае. Следует отнестись к уходовым процедурам деликатно и бережно,</span><br/><span
                                style="font-size: 22px;">чтобы предотвратить:</span><br/>
                            <ul>
                                <li><span style="font-size: 22px;">Тусклость, отсутствие блеска</span></li>
                                <li><span style="font-size: 22px;">Ломкость, хрупкость</span></li>
                                <li><span style="font-size: 22px;">Трудности с расчесыванием</span></li>
                                <li><span style="font-size: 22px;">Запутывание</span></li>
                                <li><span style="font-size: 22px;">Сечение концов</span></li>
                                <li><span style="font-size: 22px;">Периодическое появление перхоти</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569900247" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height: 38px;" data-customstyle="yes"><strong
                                style="font-size: 24px; background-color: transparent;"><u>Жирный тип
                            волос</u>:</strong><br/><span style="font-size: 22px; background-color: transparent;">Его обладатели порой испытывают сильный дискомфорт, поскольку усиленно работающие сальные железы быстро портят внешний вид</span><br/><span
                                style="font-size: 22px;">локонов. Они кажутся немытыми, блестят, плотные на ощупь, эластичные и плохо укладываются. В данном случае ключевую роль играют не только последовательные этапы правильного ухода за кожей головы и волосами, но и качество рациона питания (нужно минимизировать соль, острое, жиры животного происхождения).</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569901305" class="r t-rec t-rec_pt_30 t-rec_pb_75" style="padding-top:30px;padding-bottom:75px; "
         data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height: 38px;" data-customstyle="yes"><strong style="font-size: 24px;"><u>Смешанный
                            (комбинированный) тип волос</u>:</strong><br/><span style="font-size: 22px;">Процесс достаточно сложный, поскольку волоски при этом остаются у корней жирными, а у кончиков — ломкими, сухими. Гигиена должна быть комплексной и решать одновременно несколько задач: сократить интенсивность работы сальных желез и минимизировать последствия вредного воздействия на концы. Например, шампуни применяются преимущественно на корневую часть, а маски и бальзамы — на остальную длину.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#35254210"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>