<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Питание</title>
    <meta property="og:url" content="page35239250.html"/>
    <meta property="og:title" content="Питание"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild6535-3762-4362-b965-623031623662__1.jpg"/>
    <link rel="canonical" href="nutrition_ru.html"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page35239250.min.css?t=1681073512" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-cards-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page35239250.min.js?t=1681073512" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-cards-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="35239250"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header_ru.html' %}
    <div id="rec569358502" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="33"><!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">ПИТАНИЕ</div>
                    <div class="t017__title t-title t-title_xxs" field="title" style="">
                        <div style="font-size: 62px; line-height: 64px;" data-customstyle="yes"><p
                                style="text-align: center;">Значение питания в нашей жизни</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358503" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild6165-3561-4439-a331-643434303261__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild6165-3561-4439-a331-643434303261__-__empty__noroot.png"
                     data-original="images/tild6165-3561-4439-a331-643434303261__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec569358504" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 32px; line-height: 44px;" data-customstyle="yes"><p
                                style="text-align: center;">Когда дети начинают ходить в школу, требования к их питанию
                            меняются, потому что ученики испытывают довольно большую психологическую и умственную
                            нагрузку. Кроме того, многие дети посещают спортивные секции. В то же время организм
                            продолжает активно расти, поэтому достаточное внимание всегда следует уделять питанию в
                            школьном возрасте. Мы дадим вам несколько советов, как это сделать, и поможем убедиться, что
                            вы получаете все необходимые питательные вещества.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358505" class="r t-rec t-rec_pt_60 t-rec_pb_45" style="padding-top:60px;padding-bottom:45px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 36px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Следует обратить внимание на:</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358506" class="r t-rec t-rec_pt_75 t-rec_pb_75" style="padding-top:75px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="1029"><!-- t1029 -->
        <div class="t1029">
            <div class="t-container t-card__container">
                <div class="t1029__row">
                    <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_4 t-align_center t-item">
                        <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg"
                             bgimgfield="li_img__1656427283527"
                             data-original="images/tild6635-3365-4335-a662-383438643861__photo.png"
                             style=" background-image: url('images/tild6635-3365-4335-a662-383438643861__-__resizeb__20x__photo.png');"
                             itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="image" content="images/tild6635-3365-4335-a662-383438643861__photo.png">
                        </div>
                        <div class="t1029__wrappercenter">
                            <div class="t-card__title t-name t-name_xl" field="li_title__1656427283527" style="">
                                <div style="font-size: 26px;" data-customstyle="yes">Витамины</div>
                            </div>
                            <div class="t-card__descr t-text t-text1" field="li_text__1656427283527" style="">
                                <div style="font-size: 22px;" data-customstyle="yes">Обогащение организма и прямое
                                    влияние на здоровье, укрепление иммунной системы
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_4 t-align_center t-item">
                        <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg"
                             bgimgfield="li_img__1655825402357"
                             data-original="images/tild3565-3864-4632-b164-326461616565__photo.png"
                             style=" background-image: url('images/tild3565-3864-4632-b164-326461616565__-__resizeb__20x__photo.png');"
                             itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="image" content="images/tild3565-3864-4632-b164-326461616565__photo.png">
                        </div>
                        <div class="t1029__wrappercenter">
                            <div class="t-card__title t-name t-name_xl" field="li_title__1655825402357" style="">
                                <div style="font-size: 26px;" data-customstyle="yes">Расписание приема пищи</div>
                            </div>
                            <div class="t-card__descr t-text t-text1" field="li_text__1655825402357" style="">
                                <div style="font-size: 22px; line-height: 20px;" data-customstyle="yes">Осуществление
                                    визуальной коммуникации через картинки, графики и диаграммы
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_4 t-align_center t-item">
                        <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg"
                             bgimgfield="li_img__1655825425270"
                             data-original="images/tild6430-6532-4436-b665-653430326261__photo.png"
                             style=" background-image: url('images/tild6430-6532-4436-b665-653430326261__-__resizeb__20x__photo.png');"
                             itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="image" content="images/tild6430-6532-4436-b665-653430326261__photo.png">
                        </div>
                        <div class="t1029__wrappercenter">
                            <div class="t-card__title t-name t-name_xl" field="li_title__1655825425270" style="">
                                <div style="font-size: 26px;" data-customstyle="yes">Полезные привычки</div>
                            </div>
                            <div class="t-card__descr t-text t-text1" field="li_text__1655825425270" style="">
                                <div style="font-size: 22px;" data-customstyle="yes">Взгляд на привычные вещи в
                                    критической перспективе
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t1029_init', function () {
                t1029_init('569358506');
            });
        });</script>
    </div>
    <div id="rec569358507" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 26px;" data-customstyle="yes">Витамины</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358508" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px;" data-customstyle="yes"><strong>Витамин А</strong> — обеспечивает
                            нормальное состояние слизистых оболочек и кожи, повышает сопротивляемость организма,
                            отвечает за нормальное состояние зрения. Содержится в рыбе и морепродуктах, печени,
                            абрикосах, моркови.<br/><br/><strong>Витамин В1</strong> — улучшает пищеварение, укрепляет
                            нервную систему и память. Содержится в овощах, рисе, мясе птицы.<br/><br/><strong>Витамин
                                В2</strong> — укрепляет ногти и волосы, и положительно влияет на состояние нервов.
                            Содержится в яйцах, молоке, брокколи.<br/><br/><strong>Витамин В6</strong> — отвечает за
                            нормальную функцию печени, улучшает кроветворение и благотворно влияет на работу нервной
                            системы. Содержится в желтке яйца, пивных дрожжах, бобовых и цельных
                            зернах.<br/><br/><strong>Витамин В12</strong> — стимулирует рост, способствует
                            кроветворению, улучшает состояние центральной и периферической нервной системы. Содержится в
                            мясе, сыре, морепродуктах.<br/><br/><strong>Витамин РР</strong> — регулирует уровень
                            холестерина и улучшает кровообращение. Содержится в рыбе, мясе, орехах, овощах и цельном
                            зерне.<br/><br/><strong>Пантотеновая кислота</strong> — благотворно влияет на функции
                            нервной системы и кишечной подвижности. Содержится в желтке яиц, мясе, бобах, цветной
                            капусте.<br/><br/><strong>Фолиевая кислота</strong> — необходима для роста и нормального
                            образования крови. Это "зеленый" витамин, содержащийся в шпинате, зеленых горошках, кочанной
                            капусте и других зеленых овощах.<br/><br/><strong>Биотин</strong> — отвечает за состояние
                            кожи, ногтей и волос, регулирует уровень сахара в крови. Содержится в желтке яиц, коричневом
                            рисе, соевых бобах и помидорах.<br/><br/><strong>Витамин C</strong> — полезен для иммунной
                            системы, соединительной ткани и костей, ускоряет заживление ран. Содержится в шиповнике,
                            облепихе, сладком перце, черной смородине, лимоне.<br/><br/><strong>Витамин D</strong> —
                            укрепляет зубы и кости. Содержится в печени, икре, яйцах и молоке.<br/><br/><strong>Витамин
                                Е</strong> — борется с разрушительными воздействиями свободных радикалов, влияет на
                            функции эндокринной и репродуктивной систем, замедляет процессы старения. Содержится в
                            орехах и растительных маслах.<br/><br/><strong>Витамин К</strong> — отвечает за нормальное
                            свертывание крови. Содержится в шпинате, кабачках, салате и белокочанной капусте.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358509" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 26px;" data-customstyle="yes"><span style="font-weight: 500;">Расписание приёма пищи</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358510" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px;" data-customstyle="yes"><p style="text-align: left;"><strong
                                style="font-size: 24px;">1.</strong><span style="font-size: 24px;"> </span>Редкие приемы
                            пищи вредны так же, как постоянное перекусывание и привычка жевать что-то все время.
                            Оптимально для здорового человека есть 4-5 раз в день, интервал между приемами пищи более 5
                            часов замедляет метаболизм и заставляет организм перейти в экономический режим. В результате
                            начинают накапливаться жировые отложения. Попробуйте не перекусывать на работе или перед
                            телевизором. Процесс потребления пищи в этом случае становится неконтролируемым, насыщение
                            не наступает, а происходит переедание.</p>
                            <p style="text-align: left;"><strong style="font-size: 24px;">2.</strong><strong> </strong>Съедайте
                                каждый день свежие овощи и фрукты. Рекомендуемое количество — 300 г каждого. Таким
                                образом, вы получите все необходимые витамины и пищевые волокна. Очень удобно взять с
                                собой на работу нарезанные яблоко или грушу, огуречные или морковные палочки.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358511" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Рекомендуемые продукты</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358512" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes">
                            <ul>
                                <li style="text-align: left;">Свежие ягоды, фрукты и овощи (витамин C, клетчатка)</li>
                                <li style="text-align: left;">Каши и крупы из них (витамины B, E, магний, калий,
                                    фолиевая кислота)
                                </li>
                                <li style="text-align: left;">Сухофрукты и орехи (витамины, жирные кислоты, белок)</li>
                                <li style="text-align: left;">Мясо птицы (белок, аминокислоты, витамины A, B, E)</li>
                                <li style="text-align: left;">Рыба и морепродукты (белок, полиненасыщенные кислоты,
                                    витамины D, E, B12, кальций, фосфор)
                                </li>
                                <li style="text-align: left;">Молочные продукты: сметана, творог, йогурт (кальций,
                                    белок, аминокислоты, витамины D, A, B12, углеводы)
                                </li>
                                <li style="text-align: left;">Зеленый чай (витамины, минералы, полифенолы)</li>
                                <li style="text-align: left;">Холоднопрессованные растительные масла (фосфолипиды,
                                    линолевая и другие полиненасыщенные кислоты, витамины A, D, E)
                                </li>
                                <li style="text-align: left;">Мед (витамины, микроэлементы, глюкоза, фруктоза,
                                    фитонциды, быстрые углеводы).
                                </li>
                                <li style="text-align: left;">Хлеб из зерна (клетчатка, ферменты, аминокислоты)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358513" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Вредные продукты</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358514" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes">
                            <ul>
                                <li style="text-align: left;">Чипсы, попкорн, крекеры, соленые орехи</li>
                                <li style="text-align: left;">Алкогольные напитки</li>
                                <li style="text-align: left;">Любые полуфабрикаты и концентраты: сухое пюре, лапша
                                    быстрого приготовления и т.д.
                                </li>
                                <li style="text-align: left;">Сладкие выпечки, особенно те, которые содержат большое
                                    количество сахара
                                </li>
                                <li style="text-align: left;">Жареные блюда</li>
                                <li style="text-align: left;">Готовые фабричные соусы, включая майонез</li>
                                <li style="text-align: left;">Копченые продукты, колбасы</li>
                                <li style="text-align: left;">Сладости</li>
                                <li style="text-align: left;">Соки (кроме свежевыжатых), газированные напитки</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569569912" class="r t-rec t-rec_pt_15 t-rec_pb_75" style="padding-top:15px;padding-bottom:75px; "
         data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3565-3736-4466-b534-633635336630__hph_1.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3565-3736-4466-b534-633635336630__-__empty__hph_1.png"
                     data-original="images/tild3565-3736-4466-b534-633635336630__hph_1.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec569358516" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 26px;" data-customstyle="yes"><span style="font-weight: 500;">Полезные привычки</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358517" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong>Правило номер 1. </strong>Навсегда забудьте о
                            фаст-фуде и старайтесь не переедать сладкое.</p><br/>
                            <p style="text-align: left;"><strong>Правило номер 2.</strong> Ешьте как можно больше
                                сезонных продуктов - они содержат максимум питательных веществ. Овощи и фрукты зимой,
                                выращенные в теплицах или привезенные издалека, из-за химической обработки и длительного
                                хранения не только теряют все свои пользу, но и становятся накопителями нитратов и
                                других вредных химических соединений.</p><br/>
                            <p style="text-align: left;"><strong>Правило номер 3.</strong> Ограничьте употребление
                                рафинированных продуктов насколько это возможно: сахар, растительное масло, белая
                                пшеничная мука, рафинированный белый рис. Они не содержат клетчатку, которая очень важна
                                для функционирования пищеварительного тракта, а также для питания полезных бактерий,
                                живущих в кишечнике. Поэтому гораздо лучше есть цельнозерновой хлеб вместо белого, и
                                заменить рафинированный сахар на коричневый или даже мед.</p><br/>
                            <p style="text-align: left;"><strong>Правило номер 4.</strong> Пейте воду. Чай, кофе и соки
                                не заменяют воду. Организму необходимо получать не менее 30–35 мл жидкости на 1 кг веса
                                тела в день. Сладкие газированные напитки абсолютно запрещены, они содержат слишком
                                много сахара.</p><br/>
                            <p style="text-align: left;"><strong>Правило номер 5.</strong> Не забывайте о белке. Он
                                способен давать чувство сытости на долгое время и также богат аминокислотами. Белки
                                необходимы организму для построения мышечной ткани, замены устаревших клеток. Белковые
                                продукты включают в себя различные виды мяса, рыбу, кальмары, креветки, орехи, грибы,
                                некоторые бобовые, яйца, творог.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358518" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3232-3364-4233-a338-643531363138__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3232-3364-4233-a338-643531363138__-__empty__noroot.png"
                     data-original="images/tild3232-3364-4233-a338-643531363138__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec569358519" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Образец приёма пищи на день</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569358520" class="r t-rec t-rec_pt_0 t-rec_pb_75" style="padding-top:0px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong>Завтрак:</strong> яичница с шампиньонами из одного
                            целого яйца и двух белков, ломтик цельнозернового хлеба, цикорий с кремом - 384 ккал, 25 г
                            белков, 19 г жиров и 26 г углеводов.</p><br/>
                            <p style="text-align: left;"><strong>Перекус:</strong> один банан и четверть плитки темного
                                шоколада - 220 ккал, 4 г белков, 12 г жиров, 28 г углеводов.</p><br/>
                            <p style="text-align: left;"><strong>Обед: </strong>овощной салат и суп из брокколи с
                                курицей и сливками - 327 ккал, 30 г белков, 14 г жиров, 21 г углеводов.</p><br/>
                            <p style="text-align: left;"><strong>Полдник:</strong> две мандарины и одно яблоко - 174
                                ккал, 40 г углеводов, витамин C.</p><br/>
                            <p style="text-align: left;"><strong>Ужин:</strong> треска, запеченная с тушеными овощами -
                                288 ккал, 32 г белков, 5 г жиров, 3 г углеводов.</p><br/>
                            <p style="text-align: left;"><strong>Перед сном:</strong> стакан кефира - 76 ккал, 6 г
                                белков, 2 г жиров и 8 г углеводов.</p>
                            <p style="text-align: left;">С таким меню общее количество калорий за день составит 1470
                                ккал, белки - 98 г, жиры - 53 г, углеводы - 153 г. Кроме того, продукты, входящие в
                                блюда, содержат все необходимые витамины и микроэлементы.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#35239250"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>