<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Nutrition</title>
    <meta property="og:url" content="page34390786.html"/>
    <meta property="og:title" content="Nutrition"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild6535-3762-4362-b965-623031623662__1.jpg"/>
    <link rel="canonical" href="nutrition.html"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page34390786.min.css?t=1681073510" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-cards-1.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page34390786.min.js?t=1681073510" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-cards-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="34390786"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header.html' %}
    <div id="rec558860326" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="33"><!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">NUTRITION</div>
                    <div class="t017__title t-title t-title_xxs" field="title" style="">
                        <div style="font-size: 62px; line-height: 64px;" data-customstyle="yes"><p
                                style="text-align: center;">Importance of food in our life</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec568529782" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild6165-3561-4439-a331-643434303261__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild6165-3561-4439-a331-643434303261__-__empty__noroot.png"
                     data-original="images/tild6165-3561-4439-a331-643434303261__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec568532175" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 32px; line-height: 44px;" data-customstyle="yes"><p
                                style="text-align: center;">When a child begins to go to school, the requirements for
                            his nutrition change, because schoolchildren have quite large psychological and mental
                            stress. In addition, many children attend sports sections. At the same time, the body
                            continues to grow actively, therefore, sufficient attention should always be paid to the
                            nutrition of a school-age child. We'll give you some tips on how to do this and help you
                            make sure you're getting all the nutrients.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec558870857" class="r t-rec t-rec_pt_60 t-rec_pb_45" style="padding-top:60px;padding-bottom:45px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 36px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">What needs to be sorted out:</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec558867719" class="r t-rec t-rec_pt_75 t-rec_pb_75" style="padding-top:75px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="1029"><!-- t1029 -->
        <div class="t1029">
            <div class="t-container t-card__container">
                <div class="t1029__row">
                    <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_4 t-align_center t-item">
                        <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg"
                             bgimgfield="li_img__1656427283527"
                             data-original="images/tild6635-3365-4335-a662-383438643861__photo.png"
                             style=" background-image: url('images/tild6635-3365-4335-a662-383438643861__-__resizeb__20x__photo.png');"
                             itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="image" content="images/tild6635-3365-4335-a662-383438643861__photo.png">
                        </div>
                        <div class="t1029__wrappercenter">
                            <div class="t-card__title t-name t-name_xl" field="li_title__1656427283527" style="">
                                <div style="font-size: 26px;" data-customstyle="yes">Vitamints</div>
                            </div>
                            <div class="t-card__descr t-text t-text1" field="li_text__1656427283527" style="">
                                <div style="font-size:22px;line-height:28px;" data-customstyle="yes">Enrich the body and
                                    directly affect our health, strengthening the immune system
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_4 t-align_center t-item">
                        <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg"
                             bgimgfield="li_img__1655825402357"
                             data-original="images/tild3565-3864-4632-b164-326461616565__photo.png"
                             style=" background-image: url('images/tild3565-3864-4632-b164-326461616565__-__resizeb__20x__photo.png');"
                             itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="image" content="images/tild3565-3864-4632-b164-326461616565__photo.png">
                        </div>
                        <div class="t1029__wrappercenter">
                            <div class="t-card__title t-name t-name_xl" field="li_title__1655825402357" style="">
                                <div style="font-size:26px;" data-customstyle="yes">Meal Schedule</div>
                            </div>
                            <div class="t-card__descr t-text t-text1" field="li_text__1655825402357" style="">
                                <div style="font-size: 22px; line-height: 28px;" data-customstyle="yes">Visual
                                    communication takes place through pictures, graphs, and charts
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="t-card__col t-card__col_withoutbtn t1029__col t-col t-col_4 t-align_center t-item">
                        <div class="t1029__bgimg t1029__img_circle t-margin_auto t-bgimg"
                             bgimgfield="li_img__1655825425270"
                             data-original="images/tild6430-6532-4436-b665-653430326261__photo.png"
                             style=" background-image: url('images/tild6430-6532-4436-b665-653430326261__-__resizeb__20x__photo.png');"
                             itemscope itemtype="http://schema.org/ImageObject">
                            <meta itemprop="image" content="images/tild6430-6532-4436-b665-653430326261__photo.png">
                        </div>
                        <div class="t1029__wrappercenter">
                            <div class="t-card__title t-name t-name_xl" field="li_title__1655825425270" style="">
                                <div style="font-size:26px;" data-customstyle="yes">Good Habits</div>
                            </div>
                            <div class="t-card__descr t-text t-text1" field="li_text__1655825425270" style="">
                                <div style="font-size:22px;line-height:28px;" data-customstyle="yes">The view of images
                                    in the critical perspective
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>t_onReady(function () {
            t_onFuncLoad('t1029_init', function () {
                t1029_init('558867719');
            });
        });</script>
    </div>
    <div id="rec561847380" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 26px;" data-customstyle="yes"><span
                                style="font-weight: 500;">Vitamints</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec558875953" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px;" data-customstyle="yes"><strong>Vitamin A</strong> — ensures the
                            normal condition of the mucous membranes and skin, improves the body's resistance, is
                            responsible for the normal state of vision. Vitamin A is found in fish and seafood, liver,
                            apricots, carrots.<br/><br/><strong>Vitamin B1</strong> — improves digestion, strengthens
                            the nervous system and memory. This vitamin is found in vegetables, rice, poultry meat.<br/><br/><strong>Vitamin
                                B2 </strong>— strengthens nails and hair and has a positive effect on the condition of
                            the nerves. Vitamin B2 is found in eggs, milk, broccoli.<br/><br/><strong>Vitamin
                                B6</strong> — is responsible for the normal functioning of the liver, improves
                            hematopoiesis, and has a beneficial effect on the functions of the nervous system. This
                            vitamin is found in egg yolk, brewer's yeast, legumes, and whole grains.<br/><br/><strong>Vitamin
                                B12</strong> — stimulates growth, promotes hematopoiesis, improves the condition of the
                            central and peripheral nervous system. Found in meat, cheese, seafood.<br/><br/><strong>Vitamin
                                PP</strong> — regulates cholesterol levels and improves blood circulation. Vitamin PP is
                            found in fish, meat, nuts, vegetables, wholemeal bread.<br/><br/><strong>Pantothenic
                                acid</strong><br/>— has a beneficial effect on the functions of the nervous system and
                            intestinal motility. Contained in egg yolk, meat, beans, cauliflower.<br/><br/><strong>Folic
                                acid </strong>is essential for growth and normal blood formation. This is a "green"
                            vitamin, there is a lot of folic acid in spinach, green peas, savoy cabbage,
                            etc.<br/><br/><strong>Biotin</strong> — is responsible for the condition of the skin, nails
                            and hair, regulates blood sugar levels. Biotin is found in egg yolk, brown rice, soybeans,
                            and tomatoes.<br/><br/><strong>Vitamin C</strong> — useful for the immune system, connective
                            tissue and bones, accelerates wound healing. There is a lot of vitamin C in rose hips, sea
                            buckthorn, sweet pepper, black currant, lemon.<br/><br/><strong>Vitamin D</strong> —
                            strengthens teeth and bones. Vitamin D is found in the liver, caviar, eggs, and
                            milk.<br/><br/><strong>Vitamin E</strong> — fights against the destructive effects of free
                            radicals, affects the functions of the endocrine and gonads, slows down aging. Found in nuts
                            and vegetable oils.<br/><br/><strong>Vitamin K</strong> — is responsible for normal blood
                            clotting. This vitamin is found in spinach, zucchini, lettuce and white cabbage.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561848051" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 26px;" data-customstyle="yes"><span style="font-weight: 500;">Meal Schedule</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561853445" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style=""><p style="text-align: left;"><strong
                            style="font-size: 24px;">1.</strong> <span style="font-size: 22px;">Infrequent meals are harmful in the same way as constant snacking and the habit of chewing something all the time. It is optimal for a healthy person to eat 4-5 times a day, the interval between meals for more than 5 hours slows down the metabolism and forces the body to switch to economy mode. As a result, fat deposits begin to accumulate. Try not to snack at work or in front of the TV. The process of food consumption in this case becomes uncontrollable, not saturation occurs, but overeating.</span>
                    </p>
                        <p style="text-align: left;"><strong style="font-size: 24px;">2.</strong><span
                                style="font-size: 22px;"> Eat some fresh vegetables and fruits daily. The recommended amount is 300 g of both. So you get all the necessary vitamins and fiber. It is very convenient to take a pre-cut apple or pear, cucumber or carrot sticks with you to work.</span>
                        </p></div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561855577" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Featured Products</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561855798" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size:22px;line-height:38px;" data-customstyle="yes">
                            <ul>
                                <li style="text-align: left;">Fresh berries, fruits and vegetables (vitamin C, fiber)
                                </li>
                                <li style="text-align: left;">Cereals and cereals prepared from them (vitamins B, E,
                                    magnesium, potassium, folic acid)
                                </li>
                                <li style="text-align: left;">Dried fruits and nuts (vitamins, fatty acids, protein)
                                </li>
                                <li style="text-align: left;">Poultry meat (protein, amino acids, vitamins A, B, E)</li>
                                <li style="text-align: left;">Fish and seafood (protein, polyunsaturated acids, vitamins
                                    D, E, B12, calcium, phosphorus)
                                </li>
                                <li style="text-align: left;">Dairy products: sour cream, cottage cheese, yogurt
                                    (calcium, protein, amino acids, vitamins D, A, B12, carbohydrates)
                                </li>
                                <li style="text-align: left;">Green tea (vitamins, minerals, polyphenols)</li>
                                <li style="text-align: left;">Cold-pressed vegetable oils (phospholipids, linoleic and
                                    other polyunsaturated acids, vitamins A, D, E)
                                </li>
                                <li style="text-align: left;">Honey (vitamins, trace elements, glucose, fructose,
                                    phytoncides, fast carbohydrates).
                                </li>
                                <li style="text-align: left;">Grain bread (fiber, enzymes, amino acids)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561858489" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Harmful products</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561858949" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes">
                            <ul>
                                <li style="text-align: left;">Chips, popcorn, crackers, salted nuts</li>
                                <li style="text-align: left;">Alcoholic drinks</li>
                                <li style="text-align: left;">Any semi-finished products and concentrates: dry mashed
                                    potatoes, instant noodles, etc.
                                </li>
                                <li style="text-align: left;">Sweet pastries, especially those with a high sugar
                                    content
                                </li>
                                <li style="text-align: left;">Fried meals</li>
                                <li style="text-align: left;">Ready factory sauces, including mayonnaise</li>
                                <li style="text-align: left;">Smoked products, sausages</li>
                                <li style="text-align: left;">Sweets</li>
                                <li style="text-align: left;">Juices (except freshly squeezed), fizzy drinks</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561862485" class="r t-rec t-rec_pt_15 t-rec_pb_75" style="padding-top:15px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3137-3831-4833-b831-663861366665__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3137-3831-4833-b831-663861366665__-__empty__noroot.png"
                     data-original="images/tild3137-3831-4833-b831-663861366665__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec561863347" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="260"><!-- T231 -->
        <div class="t231">
            <div class="t231__twrapper" style="">
                <div class="t231__tcoll" style="border:3px solid #000000;">
                    <div class="t231__title" field="title"
                         style="color:#000000;padding-top:15px;padding-bottom:15px;padding-left:30px;padding-right:30px;">
                        <div style="font-size: 26px;" data-customstyle="yes"><span style="font-weight: 500;">Good habbits</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561865454" class="r t-rec t-rec_pt_0 t-rec_pb_30" style="padding-top:0px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong>Rule number 1</strong>. <span
                                style="font-size: 22px;">Forget fast food forever and try not to overindulge in sweets.</span>
                        </p><br/>
                            <p style="text-align: left;"><strong>Rule number 2. </strong>Eat as many seasonal foods as
                                possible - they contain the maximum of nutrients. Winter vegetables and fruits grown in
                                greenhouses or brought from afar, due to chemical treatment and long-term storage, not
                                only lose all their benefits, but also become accumulators of nitrates and other harmful
                                chemical compounds.</p><br/>
                            <p style="text-align: left;"><strong>Rule number 3. </strong>Limit refined foods as much as
                                possible: sugar, vegetable oil, white wheat flour, refined white rice. They do not
                                contain fiber, which is very important for the functioning of the digestive tract, as
                                well as for nourishing the beneficial bacteria living in the intestines. That is why it
                                is much better to eat whole grain instead of white bread, and replace refined sugar with
                                brown or even honey.</p><br/>
                            <p style="text-align: left;"><strong>Rule number 4.</strong> Drink water. Tea, coffee and
                                juices do not replace water. The body needs to receive at least 30–35 ml of liquid per 1
                                kg of body weight per day. Sweet sodas are completely banned, they contain too much
                                sugar.</p><br/>
                            <p style="text-align: left;"><strong>Rule number 5. </strong>Don't forget protein. It is
                                able to give a feeling of satiety for a long time and is also rich in amino acids.
                                Proteins are necessary for the body to build muscle tissue, replace obsolete cells.
                                Protein-rich foods include various types of meat, fish, squid, shrimp, nuts, mushrooms,
                                some legumes, eggs, cottage cheese.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec568531179" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3232-3364-4233-a338-643531363138__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3232-3364-4233-a338-643531363138__-__empty__noroot.png"
                     data-original="images/tild3232-3364-4233-a338-643531363138__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec561872023" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Sample meals for the day</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec561872410" class="r t-rec t-rec_pt_0 t-rec_pb_75" style="padding-top:0px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 22px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong>Breakfast:</strong> scrambled eggs with champignons
                            from one whole egg and two proteins, a slice of whole grain bread, chicory with cream — 384
                            kcal, 25 g of proteins, 19 g of fat and 26 g of carbohydrates.</p><br/>
                            <p style="text-align: left;"><strong>Snack:</strong> one banana and a quarter of a bar of
                                dark chocolate — 220 kcal, 4 g of protein, 12 g of fat, 28 g of carbohydrates.</p><br/>
                            <p style="text-align: left;"><strong>Lunch:</strong> vegetable salad and broccoli soup with
                                chicken and cream — 327 kcal, 30 g protein, 14 g fat, 21 g carbohydrates.</p><br/>
                            <p style="text-align: left;"><strong>Afternoon snack:</strong> two tangerines and an apple —
                                174 kcal, 40 g of carbohydrates, vitamin C.</p><br/>
                            <p style="text-align: left;"><strong>Dinner:</strong> cod baked with stewed vegetables — 288
                                kcal, 32 g of protein, 5 g of fat, 3 g of carbohydrates.</p><br/>
                            <p style="text-align: left;"><strong>At night: </strong>a glass of kefir — 76 kcal, 6 g of
                                protein, 2 g of fat and 8 g of carbohydrates.</p>
                            <p style="text-align: left;">With such a menu, the total calorie intake per day will be 1470
                                kcal, proteins — 98 g, fats — 53 g, carbohydrates — 153 g. In addition, the products
                                that make up the dishes contain all the necessary set of vitamins and microelements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#34390786"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>