<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Training</title>
    <meta property="og:url" content="training"/>
    <meta property="og:title" content="Training"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild3761-6333-4665-a430-356638353935__photo.jpg"/>
    <link rel="canonical" href="training"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page34390818.min.css?t=1681073510" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page34390818.min.js?t=1681073510" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="34390818" data-tilda-page-alias="training"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header.html' %}
    <div id="rec562820796" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="33"><!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">
                        <div style="font-size: 16px;" data-customstyle="yes"><p style="text-align: center;">TRAINING</p>
                        </div>
                    </div>
                    <div class="t017__title t-title t-title_xxs" field="title" style="">
                        <div style="font-size: 62px;" data-customstyle="yes"><p style="text-align: center;">How to keep
                            your body strong and fit?</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562821669" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3966-3630-4933-a332-346638333935__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3966-3630-4933-a332-346638333935__-__empty__noroot.png"
                     data-original="images/tild3966-3630-4933-a332-346638333935__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec562821894" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_9 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height:38px;" data-customstyle="yes"><p style="text-align: left;"><strong
                                style="font-size: 26px;"><u>Some simple tips for those who want to increase their
                            physical activity</u>:</strong></p>
                            <ul>
                                <li style="text-align: left;"><span style="font-size: 22px;">Try to move as much as possible</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Three times a day, spend 10 minutes on a simple exercise: stand up, straighten up and walk around</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Climb up and down the stairs on foot</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Try walking part of your usual way to or from work</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">If you drive a car, try to park in such a way that you can walk an extra 100–200 m</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Participate in active games of your children or children of your friends and relatives</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Walk to the store and back on foot</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Try to regularly perform feasible physical work, for example, in the country.</span>
                                </li>
                                <li style="text-align: left;"><span style="font-size: 22px;">Get out in nature more often</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec568520763" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 30px;" data-customstyle="yes"><p style="text-align: center;"><strong
                                style="color: rgb(110, 230, 192);">Common types of physical activity</strong></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562826353" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height:32px;" data-customstyle="yes"><p style="text-align: left;"><strong
                                style="font-size: 22px;">Walking.</strong><span style="font-size: 22px;"> For middle-aged and older people, this is the simplest and most affordable means of recovery. Walking at a slow pace (3-4 km / h) for 30-50 minutes a day 4-5 times a week significantly increases the functionality of the body. The best healing effect is brisk walking - 30 minutes a day 3-5 times a week. To loads of such intensity should be transferred gradually and in stages.</span>
                        </p><br/>
                            <p style="text-align: left;"><strong style="font-size: 22px;">Wellness run. </strong><span
                                    style="font-size: 22px;">Regular running at a slow pace for at least 20 minutes strengthens the immune system, increases the hemoglobin content in the blood and improves mood.</span>
                            </p><br/>
                            <p style="text-align: left;"><strong style="font-size: 22px;">Fitness. </strong><span
                                    style="font-size: 22px;">This is a wellness technique that includes complex physical training (both aerobic and strength training) combined with a properly selected diet.</span>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562827117" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3531-6333-4434-b939-393837326132__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3531-6333-4434-b939-393837326132__-__empty__noroot.png"
                     data-original="images/tild3531-6333-4434-b939-393837326132__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec562827122" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style=""><p style="text-align: left;"><strong
                            style="font-size: 24px;"><u>Children and adolescents aged 5-17 are recommended
                        to</u>:</strong></p>
                        <p style="text-align: left;"><strong style="font-size: 24px;">1.</strong><span
                                style="font-size: 24px;"> </span><span style="font-size: 22px;">Engage in physical activity of medium and high intensity for at least 60 minutes a day throughout the week, mainly with aerobic exercise.</span>
                        </p>
                        <p style="text-align: left;"><strong style="font-size: 24px;">2.</strong><span
                                style="font-size: 22px;"> Spend at least 3 times a week time for high-intensity aerobic physical activity, as well as those types of it that strengthen the musculoskeletal system.</span>
                        </p>
                        <p style="text-align: left;"><strong style="font-size: 24px;">3.</strong><span
                                style="font-size: 22px;"> Limit time spent sitting or lying down, especially in front of a screen for recreational purposes.</span>
                        </p></div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec568521141" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="line-height: 38px;" data-customstyle="yes"><p style="text-align: left;"><strong
                                style="font-size: 24px;"><u>Adults aged 18-64 are recommended to</u>:</strong></p>
                            <p style="text-align: left;"><strong style="font-size: 24px;">1. </strong><span
                                    style="font-size: 22px;">Engage in at least 150-300 minutes of moderate-intensity aerobic physical activity per week or at least 75-150 minutes of vigorous-intensity aerobic physical activity per week or devote time to a similarly demanding combination of moderate to vigorous physical activity during the week.</span>
                            </p>
                            <p style="text-align: left;"><strong style="font-size: 24px;">2.</strong><span
                                    style="font-size: 22px;"> As well as twice a week or more often to spend time in physical activity of medium or high intensity, aimed at developing muscle strength in all major muscle groups, as this brings additional health benefits.</span>
                            </p>
                            <p style="text-align: left;"><strong style="font-size: 24px;">3.</strong><span
                                    style="font-size: 22px;"> the time spent on moderate-intensity aerobic physical activity can be increased to more than 300 minutes or engage in more than 150 minutes of high-intensity aerobic physical activity per week or make time for a similarly demanding combination of moderate- to vigorous-intensity physical activity during the week, as this provides additional health benefits.</span>
                            </p>
                            <p style="text-align: left;"><strong style="font-size: 24px;">4.</strong><span
                                    style="font-size: 22px;"> Limit time spent sitting or lying down. Replacing sitting or lying down with physical activity of any intensity (including low intensity) benefits health.</span>
                            </p>
                            <p style="text-align: left;"><strong style="font-size: 24px;">5.</strong><span
                                    style="font-size: 22px;"> To reduce the harmful health effects of a largely sedentary lifestyle, all adults and older people should strive to exceed the recommended levels of moderate to vigorous physical activity.</span>
                            </p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec562828290" class="r t-rec t-rec_pt_0 t-rec_pb_75" style="padding-top:0px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild6263-3835-4032-b037-396235663566__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild6263-3835-4032-b037-396235663566__-__empty__noroot.png"
                     data-original="images/tild6263-3835-4032-b037-396235663566__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#34390818"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>