<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!--metatextblock--><title>Водный
    баланс</title>
    <meta property="og:url" content="page35252687.html"/>
    <meta property="og:title" content="Водный баланс"/>
    <meta property="og:description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="images/tild3137-3930-4236-b564-313539636638__photo.jpg"/>
    <link rel="canonical" href="water_balance_ru.html"><!--/metatextblock-->
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="https://ws.tildacdn.com">
    <link rel="shortcut icon" href="images/tildafavicon.ico" type="image/x-icon"/><!-- Assets -->
    <script src="https://neo.tildacdn.com/js/tilda-fallback-1.0.min.js" charset="utf-8" async></script>
    <link rel="stylesheet" href="css/tilda-grid-3.0.min.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/tilda-blocks-page35252687.min.css?t=1681073512" type="text/css" media="all"
          onerror="this.loaderr='y';"/>
    <link rel="stylesheet" href="css/fonts-tildasans.css" type="text/css" media="all" onerror="this.loaderr='y';"/>
    <script type="text/javascript">(function (d) {
        if (!d.visibilityState) {
            var s = d.createElement('script');
            s.src = 'js/tilda-polyfill-1.0.min.js';
            d.getElementsByTagName('head')[0].appendChild(s);
        }
    })(document);

    function t_onReady(func) {
        if (document.readyState != 'loading') {
            func();
        } else {
            document.addEventListener('DOMContentLoaded', func);
        }
    }

    function t_onFuncLoad(funcName, okFunc, time) {
        if (typeof window[funcName] === 'function') {
            okFunc();
        } else {
            setTimeout(function () {
                t_onFuncLoad(funcName, okFunc, time);
            }, (time || 100));
        }
    }</script>
    <script src="js/tilda-scripts-3.0.min.js" charset="utf-8" defer onerror="this.loaderr='y';"></script>
    <script src="js/tilda-blocks-page35252687.min.js?t=1681073512" charset="utf-8" async
            onerror="this.loaderr='y';"></script>
    <script src="js/lazyload-1.3.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-menu-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/hammer.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-skiplink-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script src="js/tilda-events-1.0.min.js" charset="utf-8" async onerror="this.loaderr='y';"></script>
    <script type="text/javascript">window.dataLayer = window.dataLayer || [];</script>
    <script type="text/javascript">(function () {
        if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof (sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y' && document.visibilityState) {
            var style = document.createElement('style');
            style.type = 'text/css';
            style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
            document.getElementsByTagName('head')[0].appendChild(style);

            function t_setvisRecs() {
                var alr = document.querySelectorAll('.t-records');
                Array.prototype.forEach.call(alr, function (el) {
                    el.classList.add("t-records_animated");
                });
                setTimeout(function () {
                    Array.prototype.forEach.call(alr, function (el) {
                        el.classList.add("t-records_visible");
                    });
                    sessionStorage.setItem("visited", "y");
                }, 400);
            }

            document.addEventListener('DOMContentLoaded', t_setvisRecs);
        }
    })();</script>
</head>
<body class="t-body" style="margin:0;"><!--allrecords-->
<div id="allrecords" data-tilda-export="yes" class="t-records" data-hook="blocks-collection-content-node"
     data-tilda-project-id="6796611" data-tilda-page-id="35252687"
     data-tilda-formskey="f43bfbc17b959a12d3cfcaaba6796611" data-tilda-lazy="yes">
    {% include 'header_ru.html' %}
    <div id="rec569575142" class="r t-rec t-rec_pt_0 t-rec_pb_0" style="padding-top:0px;padding-bottom:0px; "
         data-animationappear="off" data-record-type="33"><!-- T017 -->
        <div class="t017">
            <div class="t-container t-align_center">
                <div class="t-col t-col_10 t-prefix_1">
                    <div class="t017__uptitle t-uptitle t-uptitle_md" field="subtitle" style="">
                        <div style="font-size: 16px;" data-customstyle="yes">ВОДНЫЙ БАЛАНС</div>
                    </div>
                    <div class="t017__title t-title t-title_xxs" field="title" style="">
                        <div style="font-size: 62px;" data-customstyle="yes">Какую роль играет вода в жизни человека?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569575143" class="r t-rec t-rec_pt_60 t-rec_pb_75" style="padding-top:60px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild3861-6531-4138-b764-643863316565__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild3861-6531-4138-b764-643863316565__-__empty__noroot.png"
                     data-original="images/tild3861-6531-4138-b764-643863316565__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec569575144" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 32px; line-height: 44px;" data-customstyle="yes"><p
                                style="text-align: center;">Не секрет, что вода является основой жизни любого живого
                            существа. Человек не является исключением. Кровь, лимфа, поджелудочный и желудочный сок,
                            цитозоль - все это основано на жидкости. Именно поэтому так важно употреблять большое
                            количество воды для правильного функционирования всех органов и систем, а также для
                            поддержания электролитного баланса.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569575145" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild6566-3536-4437-a439-396633343061__noroot.png">
                <img class="t107__widthauto t-img"
                     src="images/tild6566-3536-4437-a439-396633343061__-__empty__noroot.png"
                     data-original="images/tild6566-3536-4437-a439-396633343061__noroot.png"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
    <div id="rec569575146" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 24px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong><u>Признаки нарушения водного баланса</u>:</strong>
                        </p>
                            <ul>
                                <li><span style="font-size: 22px;">Сухая кожа</span></li>
                                <li><span style="font-size: 22px;">Сыпь</span></li>
                                <li><span
                                        style="font-size: 22px;">Отеки и накопление воды в различных тканях и полостях</span>
                                </li>
                                <li><span style="font-size: 22px;">Жажда и сухость во рту от недостатка слюны</span>
                                </li>
                                <li><span style="font-size: 22px;">Неприятный запах изо рта</span></li>
                                <li><span style="font-size: 22px;">Налёт на язык</span></li>
                                <li><span style="font-size: 22px;">Ухудшение функций мозга: проявление симптомов депрессии, нарушения сна, внимания</span>
                                </li>
                                <li><span style="font-size: 22px;">Боли в суставах и возможные мышечные спазмы</span>
                                </li>
                                <li style="text-align: left;"><span
                                        style="font-size: 22px;">Постоянное чувство тошноты</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569575147" class="r t-rec t-rec_pt_15 t-rec_pb_15" style="padding-top:15px;padding-bottom:15px; "
         data-animationappear="off" data-record-type="363"><!-- T029 -->
        <div class="t029">
            <div class="t029__container t-container">
                <div class="t029__col t-col t-col_8">
                    <div class="t029__linewrapper" style="opacity:1;">
                        <div class="t029__opacity t029__opacity_left"
                             style="background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));"></div>
                        <div class="t029__line" style="background: #000000;"></div>
                        <div class="t029__opacity t029__opacity_right"
                             style="background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569575148" class="r t-rec t-rec_pt_30 t-rec_pb_30" style="padding-top:30px;padding-bottom:30px; "
         data-animationappear="off" data-record-type="106"><!-- T004 -->
        <div class="t004">
            <div class="t-container ">
                <div class="t-col t-col_8 t-prefix_2">
                    <div field="text" class="t-text t-text_md " style="">
                        <div style="font-size: 24px; line-height: 38px;" data-customstyle="yes"><p
                                style="text-align: left;"><strong><u>Несколько советов по поддержанию водного
                            баланса</u>:</strong></p>
                            <ul>
                                <li><span style="font-size: 22px;">Пить воду можно при любой температуре, распределяя необходимый объем на равные порции в течение дня</span>
                                </li>
                                <li><span
                                        style="font-size: 22px;">Брать с собой бутылку воды на прогулку или пробежку</span>
                                </li>
                                <li><span style="font-size: 22px;">Пить воду во время еды</span></li>
                                <li><span style="font-size: 22px;">Пить жидкость между приемами пищи</span></li>
                                <li><span style="font-size: 22px;">Добавлять в воду ягоды или фрукты для улучшения её вкуса</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rec569575149" class="r t-rec t-rec_pt_0 t-rec_pb_75" style="padding-top:0px;padding-bottom:75px; "
         data-animationappear="off" data-record-type="3"><!-- T107 -->
        <div class="t107">
            <div class="t-align_center" itemscope itemtype="http://schema.org/ImageObject">
                <meta itemprop="image" content="images/tild6330-3634-4334-a636-666235363235___3.jpg">
                <img class="t107__widthauto t-img"
                     src="images/tild6330-3634-4334-a636-666235363235__-__empty___3.jpg"
                     data-original="images/tild6330-3634-4334-a636-666235363235___3.jpg"
                     imgfield="img"
                     alt=""></div>
        </div>
    </div>
</div><!--/allrecords--><!-- Tilda copyright. Don't remove this line -->
<div class="t-tildalabel " id="tildacopy" data-tilda-sign="6796611#35252687"><a href="https://tilda.cc/?upm=6796611"
                                                                                class="t-tildalabel__link">
    <div class="t-tildalabel__wrapper">
        <div class="t-tildalabel__txtleft">Made on</div>
        <div class="t-tildalabel__wrapimg"><img src="images/tildacopy.png" class="t-tildalabel__img"
                                                fetchpriority="low"></div>
        <div class="t-tildalabel__txtright">Tilda</div>
    </div>
</a></div><!-- Stat -->
<script type="text/javascript">if (!window.mainTracker) {
    window.mainTracker = 'tilda';
}
setTimeout(function () {
    (function (d, w, k, o, g) {
        var n = d.getElementsByTagName(o)[0], s = d.createElement(o), f = function () {
            n.parentNode.insertBefore(s, n);
        };
        s.type = "text/javascript";
        s.async = true;
        s.key = k;
        s.id = "tildastatscript";
        s.src = g;
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, '40051a81438bfde89c74e6aca0afbc18', 'script', 'js/tilda-stat-1.0.min.js');
}, 2000); </script>
</body>
</html>